
body{
  background-color: black;
}

#anchor{
  background-image: url('terminal.png');
  width: 1281px;
  height: 1037px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: contain;
  z-index:-1;
}

#console:focus {
  outline: 0;
}

#console{
  height:500px;
  width:500px;
  white-space:pre;
  font-family: VT323;
  background-color: black;
  color: rgb(102, 255, 51);
  font-size: 30px;
  position: absolute;
  left: 350px;
  top: 125px;
  z-index:-2;
}

@font-face{
  font-family:titleFont;
  src: url(ARCADECLASSIC.TTF);
}


header{
  font-family:titleFont;
  color:white;
  height:80px;
  font-size:80px;
  padding-left:315px;
}

footer{
  font-family:VT323;
  color:white;
  padding-top:575px;
  font-size:30px;
  padding-left:400px;
}
