
body{
  background-color: black;
}

#anchor{
  background-image: url('terminal.png');
  width: 1400px;
  height: 780px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: contain;
}

#console:focus {
  outline: 0;
}

#console{
  height:500px;
  width:500px;
  white-space:pre;
  font-family: VT323;
  background-color: black;
  color: rgb(102, 255, 51);
  font-size: 30px;
  position: absolute;
  left: 350px;
  top: 100px;
}
