<!DOCTYPE html>
<html>
<style>
.logo{
width: 350px;
height: 100px;
}
.search{
border:thin solid grey;
border-radius: 10px;
padding: 15px;
background-color: rgba(173, 182, 173,.2);
width: 800px
margin-left: auto;
margin-right: auto;
}

.image{
  margin-left: auto;
  margin-right: auto;
}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">
<div class='logo image'>
<img src='https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/FamilySearch_2013_logo.svg/1280px-FamilySearch_2013_logo.svg.png' class='logo'>
</div>
<div class='search'>
<form ng-submit="todoAdd()">
    <input type="text" ng-model="first" size="20" placeholder="First Name">
    <input type="text" ng-model="middle" size="20" placeholder="Middle Name">
    <input type="text" ng-model="last" size="20" placeholder="Last Name">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.name"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{name:'John Wilks Boothe', done:false}];

    $scope.todoAdd = function() {
        $scope.todoList.push({name:$scope.first+' '+$scope.middle+' '+$scope.last, done:false});
        $scope.todoInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>

</body>
</html>
