
.parallax{
  background-image: url('images/mountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Armata', sans-serif;
}

.horizontal-tile{
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding:50px;
  font-size: 20px;
}

.horizontal-tile-solid{
  background-color: rgba(255, 255, 255, 1);
}

.no-margin{
  margin: 0px;
}

.container{
  width:100%;
  padding:0px;
}

h1{
  margin:0px;
}


#incognito{
  margin-bottom:50px;
  color: black;
  font-family: 'Armata', sans-serif;
  font-size: 60px;
  text-decoration: line-through white;
}

img.incognito{
  margin-top:100px;
  margin-bottom:125px;
}

img.square{
  height:350px;
  width:350px;
  background-size: 350px 350px;
  margin-bottom: 50px;
}

img.icon{
  height:50px;
  width:50px;
}

img.med{
  height: 300px;
  width: 400px;
}

img.banner{
  height: 200px;
  width: 500px;
}

img.right{
  float: right;
  margin-left:100px;
}

img.left{
  float: left;
  margin-right:100px;
}

.ul-no-style{
  list-style-type: none;
}

.text-center{
  text-align: center;
}

.padding-med{
  padding:30px;
}

.padding-large{
  padding:50px;
}

.bottom-padding-med{
  padding-bottom: 30px;
}

.top-padding-med{
  padding-top: 30px;
}
